{% include 'dashboard_sidebar.html' %} {% block content %}

<title>Registered Users</title>
<!-- DataTables CSS -->
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
/>
<style>
  .content {
    padding: 20px;
  }
</style>
<div class="content">
  <h2>Registered Users</h2>
  <table id="userTable" class="display">
    <thead>
      <tr>
        <th>id</th>
        <th>Username</th>
        <th>Email</th>
        <th>CGPA</th>
        <th>Program</th>
        <th>Address</th>
        <th>Sex</th>
        <th>Blood Group</th>
        <th>Birth Date</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.cgpa }}</td>
        <td>{{ user.program }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.sex }}</td>
        <td>{{ user.blood }}</td>
        <td>{{ user.birth_date }}</td>
        <td>{{ user.phone }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $("#userTable").DataTable({
      paging: true,
      searching: true,
      ordering: true,
    });
  });
</script>

{% endblock %}
