{% include 'dashboard_sidebar.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='css/edit_profile.css') }}">
  <div class="content">
    <div class="form-container">
      <h1>Edit Profile</h1>
      <form action="/profile/update/{{ current_user.id }}" method="POST">
          <input type="text" name="username" value="{{ current_user.username }}" required>
          <input type="email" name="email" value="{{ current_user.email }}" required>
          <button type="submit">Update Profile</button>
      </form>    
  </div>
  
  
  </div>


  {% endblock %}
