{% include 'dashboard_sidebar.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='css/edit_profile.css') }}">
  <div class="content">
    <div class="form-container">
      <h1>Edit Profile</h1>
      <form method="post" action="/profile/edit">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" value="{{ current_user.username }}" required>
  
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="{{ current_user.email }}" required>
  
          <button type="submit">Save Changes</button>
      </form>
  </div>
  
  </div>


  {% endblock %}
