<link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<footer id="footer" class="footer dark-background py-5 text-light">
    <div class="container text-center">
        <h3 class="sitename">Regna</h3>
        <p class="mb-4">
            Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.
        </p>
        <div class="social-links d-flex justify-content-center mb-4">
            <a href="https://www.facebook.com/" class="mx-3" aria-label="Twitter"><i class="bi bi-twitter"></i></a>
            <a href="" class="mx-3" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
            <a href="" class="mx-3" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
            <a href="" class="mx-3" aria-label="Skype"><i class="bi bi-skype"></i></a>
            <a href="" class="mx-3" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="row">
            <div class="col-md-6 text-md-start text-center mb-3 mb-md-0">
                <span>&copy; 2024</span> <strong class="sitename">Regna</strong> <span>All Rights Reserved</span>
            </div>
            <div class="col-md-6 text-md-end text-center">
                Designed by <a href="https://bootstrapmade.com/" target="_blank" class="text-light">Tarikul Islam Nishat</a>
            </div>
        </div>
    </div>
</footer>
